* {
    box-sizing: border-box;
}
body {
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;    
    background-image: url('assets/background.svg');
    margin: 0 auto 0 auto;

    /* this will make our page width fluid up until it reaches 640px*/
    max-width: 640px;
    padding-top: 40px;

    /* line height acts as a multiplier of the font size */
    line-height: 1.5;
}

header {
    background-color: #ffffff;
    padding: 40px;
}

nav {
    background-color: #f05d5d;
    /* padding order: top, right, bottom, left */
    padding: 20px 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

/* style that gets applied when hovering over eachnavigation link */
nav a:hover {
    color: #5000ff;
    border-bottom: solid 2px #fff;
}

section {
    background-color: #5000ff;
    padding: 40px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}

.image {
    padding: 0;
}

.image img {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-style: italic;
    font-size: 32px;
    line-height: 1.2;
    margin: 40px 0;
}

.map {
    width: 100%;
}

.contact p {
    margin-top: 20px;
}

.contact a {
    text-decoration: none;
    color: #fff;
    border-bottom: solid 2px #f05d5d;
    padding-bottom: 2px;
}

/* Css selector that selects a certain screen width
below a screen width of 720px, apply the following styles*/
@media (max-width: 720px) {

    /* this rule applies to sections and headers */
    section, header {
        padding: 20px;
    }

    nav {
        padding: 10px 20px;
    }

    h2, blockquote {
        font-size: 24px;
    }

    body {
        font-size: 16px;
        padding-top: 0;
    }

    nav a {
        display: block;
        margin-top: 10px;
    }

    nav a:hover {
        border: none;
    }

    blockquote {
        margin: 20px 0;
    }
}