* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'David Libre', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #48353a;
    margin: 0;
}

header {
    padding: 10px 20px;
    /* makes element respect its child elements size*/
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.75);
    /*position: fixed;*/
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin: 3px 0;
}

header nav a {
    color: #48353a;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    background-image: url('assets/hero.jpg');
    background-size: cover;
    /* we position our background image in the x and y axis */
    background-position: right center;
    padding: 230px 0 200px 0;
}

.hero div {
    max-width: 520px;
    /* center div in middle of window */
    margin: 0 auto; 
    text-align: center;
    padding: 0 20px;
}

.hero h2 {
    font-size: 64px;
    line-height: 1.1;
    margin: 0 0 15px 0;
}

.hero p {
    max-width: 400px;
    margin: 0 auto;
}

.flowers {
    overflow: hidden;
}

.flowers img {
    float: left;
    width: 33.3333%;
}

.quotes {
    overflow: hidden;
}

.quotes div {
    width: 50%;
    float: left;
    text-align: center; /* centers images and text */
    padding: 50px 20px 40px 20px;
}

.cream-bg {
    background-color: #f7f1ee;
}

.quotes img {
    width: 75px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.quotes blockquote {
    font-size: 24px;
    line-height: 1.16;
    font-weight: 700;
    margin: 20px auto 0 auto;
    max-width: 400px;
}

.quotes p {
    margin-top: 10px;
}

.chair {
    background-image: url('assets/full-bleed.jpg');
    background-position: center bottom;
    padding: 0;
    height: 500px;
}

.logos {
    background-color: #eeae9f;
    padding: 20px 20px 35px 20px;
    text-align: center;
}

.logos p {
    color: white;
    font-weight: 700;;
}

.logos img {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: #48353a;
    padding: 20px;
    color: #ccc9ca;
    overflow: hidden;
}

footer img {
    float: left;
}

footer p {
    float: right;
    font-size: 14px;
    margin: 0;
}