body {
    font-family: 'David Libre', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #48353a;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

header {
    padding: 10px 20px;
    /* makes element respect its child elements size*/
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.75);
    /*position: fixed;*/
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin: 3px 0;
}

header nav a {
    color: #48353a;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    background-image: url('assets/hero.jpg');
    background-size: cover;
    /* we position our background image in the x and y axis */
    background-position: right center;
    padding: 230px 0 200px 0;
}

.hero div {
    max-width: 520px;
    /* center div in middle of window */
    margin: 0 auto; 
    text-align: center;
    padding: 0 20px;
}

.hero h2 {
    font-size: 64px;
    line-height: 1.1;
    margin: 0 0 15px 0;
}

.hero p {
    max-width: 400px;
    margin: 0 auto;
}

.flowers {
    overflow: hidden;
}

.flowers img {
    float: left;
    width: 33.3333%;
}