
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
    font-family: 'Space Mono', monospace;
    color:#fff;
    font-size: 14px;
    line-height: 1.5;
    background-color: #000;
    margin: 0 100px;
    max-width: 1400px;

    /* for optimizing font rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    padding: 150px 0;
}

section {
    margin-bottom: 90px;
}

.text {
    max-width: 350px;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

section a {
    display: block;
    background-color: #fff;
    margin-top: 50px;
    padding: 15px 20px;
    color: #000;
}

.w-1200 {
    max-width: 1200px;
}

.w-1100 {
    max-width: 1100px;
}

.w-630 {
    max-width: 630px;
}

h2 {
    font-size: 24px;
    padding-bottom: 50px;
    border-bottom: solid #fff 1px;
    margin-bottom: 50px;
}

.process p {
    max-width: 450px;
}

footer {
    background-color: #1A1A1A;
    padding: 20px 40px;
    margin-bottom: 105px;
}

footer a {
    color: #6A6A6A;
    margin-right: 40px;
}

footer .contact {
    margin-bottom: 40px;
}